<h2>$title$</h2>
<div id="search">
		<form method="get" id="searchform" action="file:///Users/ak/Documents/Learning/haskell/hakyll-examples/tagblog/_site/postlist.html">
			<p>
				<input type="text" value="Search this site..." onfocus="if (this.value == 'Search this site...' ) { this.value = ''; }" onblur="if (this.value == '' ) { this.value = 'Search this site...'; }" name="s" id="searchbox" />
				<input type="submit" class="submitbutton" value="GO" />
			</p>
		</form>
</div>
<ul>
    $postlist$
</ul>
